[package]
name = "lucastra-hal"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
thiserror = { workspace = true }
tracing = { workspace = true }
lucastra-core = { path = "../core" }
